// variables.scss
$text_color: #303133; // 正常字体颜色
$bold_text: #6c727e; // 加粗字体颜色
$error_color: #fd3030; // 错误提示色
$active_text: #409eff; // 激活状态字体颜色
$active_background: #ecf5ff; //激活状态背景颜色
$table_header_background: #eaecec; //激活状态背景颜色

$panel_height: calc(100vh - 108); // panel-container内部高度
$default_font_size: 14px; // 内部面板高度
